{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styleforall.css' %}">
    <title>Delete Task</title>
</head>
<body>
    <h1>Delete Task</h1>
    <p>Are you sure you want to delete "{{ task.title }}"?? </p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes po</button>
        <button><a href="{% url 'task_list' %}">No po</a></button>
    </form>
   
   
</body>
</html>